

/* cart */
.cart-title{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2vw;
	font-weight: 300;
	color: #ffffff;
	margin: 3vw 0 1vw 0;
}
.cart{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 0 3vw 0;
	height: fit-content;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.cart__item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: calc(100vw / 2.2) ;
	height: calc(100vw / 3.8) ;
	border-radius: 0.5vw;
	box-shadow: 10px 15px 28px rgb(0, 0, 0);
	image-rendering: smooth;
	/* background-image: url('/assets/img/cart/main.png'); */
	background-size: cover;
	background-position: center;
	margin-top: 2vw;
	border-radius: 0.5vw;
	transition: all 1.2s ease-in-out;
	flex-wrap: wrap;
}

/* .bsb{
	background-image: url('/assets/img/cart/bsb/6.jpg');
}
.ch{
	background-image: url('/assets/img/cart/ch/6.jpg');
}
.river{
	background-image: url('/assets/img/cart/river/6.jpg');
}
.pasta{
	background-image: url('/assets/img/cart/pasta/6.jpg');
} */



.cart__filter{
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0.5vw;
	background: #0000001f;
	transition: var(--duration);
}
.cart__content{
	display: flex;
	width: 100%;
	height: 100%;
	padding: 3vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 0.5vw;
	color: #ffffff;
	font-weight: 200;
	opacity: 0;
	transition: var(--duration);
}
.cart__location{
	font-size: calc( var(--wcart) / 35);
	margin: 0;
	scale: 0.4;
	transition: var(--duration);
}
.cart__logo{
	width: calc( var(--wcart) / 10);
	margin: calc( var(--wcart) / 35);
	scale: 0.3;
	transition: var(--duration);
}
.cart__title{
	font-size: calc( var(--wcart) / 15);
	font-weight: 300;
	margin-top: calc( var(--wcart) / 35);
	margin-bottom: 0;
	transform: translate(0px, 0px);
	scale: 0.6;
	transition: var(--duration);
}
.cart__sub-title{
	font-size: calc( var(--wcart) / 30);
	margin: calc( var(--wcart) / 35);
	margin-top: 0;
	scale: 0.5;
	transition: var(--duration);
}
.cart__button{
	font-size: calc( var(--wcart) / 50);
	padding: calc( var(--wcart) / 100) ;
	border-radius: calc( var(--wcart) / 100);
}
.cart__button:hover{
	font-size: calc( var(--wcart) / 50);
}

.cart__link{
	display: flex;
	flex-direction: row;
	width: 80%;
	justify-content: center;
	align-items: center;
	scale: 0.5;
	transition: 500ms;
}
.cart-button-con{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3vw;
	width: 100%;
}
.cart-button{
	width: 10%;
}


@media (max-width: 600px){
	
/*-----------------CART MOB-------------------*/


.cart__item{
	width: 100%;
	height: 70vw;
	margin: 5vw;
	border-radius: 2vw;
	transition: all 0.5s ease-in-out;
}
.cart__filter{
	width: 100%;
	height: 70vw;
	border-radius: 2vw;
	transition: all 0.5s ease-in-out;
}


.cart__title{
	font-size: 7vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 5vw 0 0 0 ;
	color: #ffffff;
	font-weight: 300;
	align-self: center;
}
.cart__title {
	font-size: 8vw;
	font-weight: 300;
	margin: 3vw;
	
}
.cart__content{
	justify-content: center;
}

.cart__location{
	font-size: 5vw;
}
.cart__logo{
	width: 13vw;
	margin: 2vw;
}
.cart__title{
	font-size: 8vw;
	font-weight: 300;
	margin: 3vw;
}
.cart__sub-title{
	font-size: 4vw;
	font-weight: 200;
	margin-top: -5vw;
}
.cart__button{
	font-size: 3.5vw;
	font-weight: 200;
	margin: 2vw;
	padding: 2vw 3vw;
	border-radius: 1vw;
}
.cart__button:hover{
	font-size: 3.5vw;
	font-weight: 200;
	margin: 2vw;
	padding: 2vw 3vw;
	border-radius: 1vw;
}
.svgYou-cart{
	width: 6vw;
}
.svgYou-cart:hover{
	width: 6vw;
}

.cart-button{
	font-size: 3.5vw;
	font-weight: 200;
	margin: 2vw;
	padding: 2vw 3vw;
	border-radius: 1vw;
}
.cart-button:hover{
	font-size: 3.5vw;
	font-weight: 200;
	margin: 2vw;
	padding: 2vw 3vw;
	border-radius: 1vw;
}

.video-title{
	font-size: 6vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 4vw 3vw;
	color: #ffffff;
	font-weight: 300;
}



}