.modal-over{

	/* display: flex;
	flex-direction: column;
	justify-content: center; */
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: #00000049;
	backdrop-filter: blur(5px);
	z-index: 999;
}


/* 
.modal{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 20vw;
	margin-left: -10%; 
	left: 50%;
	top: 50%;

	
	position: fixed;
	top: 20%;
	left: 50%;
	padding: 10% 0 10% 0;
	

	max-width: 600px;
	min-height: 800px;

	height: 64vh;
	border-radius: 0.7em;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(43, 43, 43) 100%);
	z-index: 1002;
	overflow: hidden;
	transform: translateY(-70%);
	opacity: 0;
} */
.modal {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
	margin-left: -200px;
	min-width: 400px;
	max-width: 500px;
	min-height: 500px; 
	max-height: 600px;
	left: 50%;
	top: 20%;
	position: fixed;
	padding: 10% 0;
	border-radius: 0.7em;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgb(43, 43, 43) 100%);
	/* background-color: #000000d4; */
	backdrop-filter: blur(10px);
	z-index: 1002;
	overflow: hidden;
	transform: translateY(-70%);
	opacity: 0;
}




.modal__logo{
	width: 30%;
}
.modal__pop{
	display: flex;
	flex-direction: column;
	width: 80%;
	height:fit-content;
}
.modal__lab{
	font-family: Gilroy;
	font-size: clamp(13px 1vw 20px);
	font-weight: 200;
	/* margin: 5% 0 0 0; */
	color: #ffffff;
	letter-spacing: 0.05vw;
}
.modal__input{
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 200;
	color: #ffffff;
	background-color: #ffffff40;
	/* background-color: rgba(255, 255, 255, 0.055); */
	letter-spacing: 0.005vw;
	width: 100%;
	margin: 1% 0 10% 0;
	padding: 0 7% 0 7%;
	height: 50%;
	border-style: solid;
	border-color: #ffffff00;
	border-width: 1px;
	border-radius: 0.3em;
	opacity: 0.7;
	cursor: pointer;
}
.modal__input:focus{
	background-color: #ffffff;
	color: #000000;
	font-weight: 300;
}

.modal__input::placeholder{
	font-family: Gilroy;
	font-size: 16px;
	font-weight: 200;
	color: #ffffff;
	letter-spacing: 0.004vw;
}
.modal__input:focus::placeholder{
	color: #00000086;
	font-weight: 300;
};

.textarea::placeholder{
	
	margin: 2% 0 0 0;
}
#textarea{
	padding: 2% 7% 0 7%;
	margin: 2% 0 0 0;
}
textarea {
	resize: none; /* Запрещаем изменять размер */
 } 

.modal__check-con{
	margin-bottom: 20px;
}
#modal__check {
	position: absolute;
	top: 0;
	width: 1px;
  display: none;
}

.modal__check {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #0093d8;
  background-color: #ffffff00;
  border-radius: 100%;
  cursor: pointer;
	margin-right: 10px;
	cursor: pointer;
}
.modal__check-text{
	font-family: Gilroy;
	font-size: 12px;
	font-weight: 100;
	color: #ffffff;
	transition: 0.5s;
	letter-spacing: 0.05vw;
}
.modal__check-text:hover{
	color: #60c0ec;
	transition: 0.5s;
}

#modal__check:checked + .modal__check-text .modal__check {
  content: "";
	background-color: #0093d8
}

.modal__check-que{
	cursor: pointer;
	position:absolute;
	width: 15px;
	margin-left: 10px;
	transition: 0.5s	
}
.modal__check-que:hover{
	position:absolute;
	width: 6%;
	color: #60c0ec;
	transition: 0.5s;
}


.button-modal {
	opacity: 1; /* Начальное значение прозрачности */
	cursor: pointer; /* Указатель мыши */
	pointer-events: auto; /* Включает события */
}
.button-modal.disabled {
	opacity: 0.5; /* Прозрачность, когда кнопка деактивирована */
	pointer-events: none; /* Блокирует все события на кнопке */
}


